@model List<AppProduto.Models.Produto>

@using AppProduto.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

@{ 
    string nomeCriador = ViewBag.CriadoPor;

    List<Produto> _listaProdutos = (List<Produto>)ViewBag.ListaDeProdutos;
}

<h2>Protudos</h2>
<br />
Criado por @nomeCriador
<br />
<br />
<a href="@Url.Action("novoproduto", "produtos")">Novo Produto</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Tipo</th>
            <th scope="col">Data de cadastro</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Id</td>
                <td>@produto.Name</td>
                <td>@produto.Description</td>
                <td>@produto.TipoProduto.NomeTipoProduto</td>
                <td>@produto.DateAdd.ToString("dd/MM/yyyy")</td>
                <td><a href="/produtos/editarproduto/@produto.Id">Editar</a> | <a href="/produtos/deletarproduto/@produto.Id">Deletar</a></td>
            </tr>
        }
    </tbody>
</table>